.category-description h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize !important;
}

.category-description.title {
    font-size: 24px !important;
    font-weight: bold;
}

.category-description li {
    list-style: disc !important;
    margin-left: 60px !important;
    font-size: 18px;
}
