<div class="link-btn">
    <a href="[ZMR:RequestSample]" rel="nofollow" title="Request Sample" class="hvr-wobble-vertical">
        Request Free Sample
    </a>
    <a href="[ZMR:CustomRequest]" rel="nofollow" title="Request Customisation" class="hvr-wobble-vertical">
        Request Customization
    </a>
    <a href="[ZMR:BuyNow]" style="color:#000 !important;" rel="nofollow" title="Buy Now" class="hvr-wobble-vertical pulse-button">
        Buy Now
    </a>
</div>

<style>
    .newsButton img {
        display: inline !important;
        margin-right: 10px;
    }

    .imgButton {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 22px;
    }

    a.newsButton {
        margin-right: 30px;
        text-decoration: none;
    }

    .btn-hot {
        color: #fff;
        background-color: #db5566;
        border-bottom: 2px solid #af4451;
    }

    .btn-buynow {
        background-color: #F50057;
        border-color: #F50057;
    }
</style>