<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[MRS:Title]</title>
</head>

<body>
    <div id="container" style="background-color: #F0F0F0; padding: 0 50px 0 50px; padding: 20px;">
        <div id="main" style="background-color: #FFFFFF; border: 1px solid #DADADA; padding: 30px;">
            <div id="logo">
                <img src="https://www.zionmarketresearch.com/images/zionLogo01.png" />
            </div>
            <div id="mailmessage" style="background-color: #F0F0F0; padding: 10px 10px 30px 30px;">
                <h3 style="color: #FF9900;">Dear [MRS:CustomerName],</h3>
                <p style="color: #124476;">
                    <span style="color:red; font-weight:bold;">Payment failed</span> for report <strong>'[MRS:ReportTitle]'</strong>.<br />
                    <br />
                    If you find some problem while payment, let us know.<br />
                    US OFFICE # - +1-386-310-3803<br/>

                    GMT OFFICE HOURS - +49 322 210 92714<br/>

                    US/CAN TOLL FREE - +1-855-465-4651<br />

                    E-Mail - sales@zionmarketresearch.com
                </p>
                <p style="color: #124476;"><strong>Thank you</strong></p>
                <hr style="color: #F4F4F4;" />
                <div id="signature" style="font-size: 12px; color: #000046;">
                    <strong>Warm regards</strong>,<br />

                    Joel John | Manager - International Business and partner Relations<br />
                    Direct line: + 1-855-465-4651<br />
                    Zion Market Research<br />
                    E-mail: <a href="mailto:sales@zionmarketresearch.com">sales@zionmarketresearch.com</a> | Web: <a href="https://www.zionmarketresearch.com">www.zionmarketresearch.com</a><br />

                </div>
            </div>
        </div>
    </div>
</body>
</html>
