/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.link-btn a {
	font-size:14px;
    display: block!important;
	}
	.heading h1.reporttitle {
    display: block;
    padding: 10px;
    border-left: 8px solid;
    color: #23527c;
    font-size: 14px !important;
    margin-bottom: 4px !important;
    line-height: 25px;
    text-align: justify;
    /* font-weight: bolder; */
    text-transform: capitalize!important;
}
.title-summary {
    font-family: Georgia, serif;
    font-size: 16px !important;
    font-style: normal;
    margin: 0.25em 0;
    padding: 0px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    margin-bottom: 20px;
    text-align: center;
}
.isStuck{
    left:0px;
    width:100%;
	/*padding: 0px 20px 0px 30px;*/
	padding: 0px!important;
}
	.logo a {
    font-size: 20px;
	}
	.middle .box {
    width: 170px!important;
    height: 100px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    /* font-weight: 900; */
}
label .back-end p {
    font-size: 14px!important;
    line-height: 15px!important;
}
.middle .box span {
    position: absolute;
    transform: translate(0, -5px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 16px;
    user-select: none;
    color: #007e90;
    top: 6px!important;
}
.logo{
	display:block;
}
.search_div .btn {
    height: 45px;
    position: absolute;
    right: 0!important;
    top: 1px;
    border-radius: 30px!important;
    border-color: #00CDF8;
    background-color: #00CDF8;
    margin: 11px;
    width: 45px;
}
.search_div {
    padding: 5px 0;
    width: 290px!important;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    
}
.search_div:hover input, .search_div input:focus {
    width: 250px;
    margin-left: 10px;
}
.search_div input {
    position: absolute;
    width: 0px;
    float: left;
    margin-left: 245px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 39px!important;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius: 1px;
    top: 15px;
}
.navbar-toggle {
    margin-top: 18px!important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f0ad4e!important;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}
.fa-search:before {
    content: "\f002";
    font-size: 20px;
}
.navbar-header {
    height: 70px;
}
.contact-info{
		margin-top:1%;
	}
	.contact-info h2{
		margin-bottom: 0px;
	}
	.contact-info img {
    margin-bottom: 1%;
	float: left;
    margin-right: 20px;
}
.contact-form .form-group {
    padding-bottom: 0px;
}
.category_box {
width: 100%;
}
.logo {
    float: none;
    left: 5px!important;
    margin-top: 1px!important;
    position: absolute;
}
#rept_info{
	display:none;
}
.tab .tab-content {
    padding: 10px 10px!important;
    text-align: justify!important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#mobile_search{
		display:none;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#mobile_search{
		display:none;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#mobile_search{
		display:none;
	}
}