<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <remove extension=".css" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
