
/* ---------- start myclientCarousel ---- */
.item_width {
    width: 19%;
    display: inline-block;
}

.l-box {
    padding: 15px 5px;
}

#myclientCarousel img {
    display: inline-block;
    max-width: 96%;
    margin: auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 3px 1px #EBEBEB;
    box-shadow: 0 1px 3px 1px #EBEBEB;
    text-align: center;
}

#myclientCarousel .carousel-inner {
    position: relative;
    width: 95% !important;
    overflow: hidden;
    margin: 0 auto;
}

#myclientCarousel .carousel-control.right {
    right: 40px !important;
    left: auto;
    background-image: none !important;
}

#myclientCarousel .carousel-control.left {
    right: auto;
    left: -80px !important;
    background-image: none !important;
}

.carousel-control .glyphicon-chevron-right {
    right: 0 !important;
    margin-right: 0px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item_width {
        width: 32%;
        display: inline-block;
    }

    #myclientCarousel .carousel-control.left {
        right: auto;
        left: -20px !important;
        background-image: none !important;
    }

    #myclientCarousel .carousel-control.right {
        right: -6px !important;
        left: auto;
        background-image: none !important;
    }

    .bottomAbout {
        padding-left: 20px !important;
    }
}
/* ---------- end myclientCarousel ---- */
/* ---- start testimonials ----*/
.left:before {
    content: "" !important;
    padding-right: 0px !important;
}

.controls .left:before {
    content: "\f053" !important;
    padding-right: 0px !important;
}

.fact_listing {
    border: 1px solid #cfcdcd;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    border-radius: 2px;
}

    .fact_listing h3 {
        color: #024973;
        font-size: 40px;
        margin: 0;
    }

    .fact_listing h4 {
        color: #5b5b5b;
        font-size: 17px;
        margin: 5px 0;
    }

    .fact_listing .icon {
        font-size: 50px;
        float: left;
        margin: 20px;
        color: #024973;
    }

#testimonials {
    margin: 20px 0px 20px 0px;
}

#carousel-testimonial .testimonial_subtitle {
    color: #024973;
    font-size: 14px;
}

.testimonial_btn {
    background-color: #024973 !important;
    color: #fff !important;
}

#testimonials .seprator {
    height: 2px;
    width: 56px;
    background-color: #024973;
    margin: 7px 0 10px 0;
}
/* ---- end testimonials ----*/
#testimonial .patternOverlay, #testimonials .patternOverlay {
    background: none !important;
}

.category-item {
    /*padding: 10px;*/
    display: inline-block;
    text-align: left;
}

.category-item-wrapper {
    position: relative;
    /*padding: 7px;*/
    background: #E8D7B6;
}

.category-item-image {
    position: relative;
    overflow: hidden;
}

    .category-item-image img {
        /*display: block;*/
        margin: 0 !important;
    }

.category-item-title {
    position: absolute;
    left: -10px;
    bottom: 17px;
    background: #ff9b00;
    line-height: 1.5em;
    font-weight: normal;
    padding: 7px 9px 6px;
    /*text-transform: uppercase;*/
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.category-item-overlay {
    background: #000;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.1s ease-in 0s;
    -moz-transition: opacity 0.1s ease-in 0s;
    -o-transition: opacity 0.1s ease-in 0s;
    transition: opacity 0.1s ease-in 0s;
}

.category-item-wrapper:hover .category-item-overlay {
    opacity: 0.3;
}

.category-item-button {
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

    .category-item-button a {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #ff9b00;
        /*text-transform: uppercase;*/
        font-family: 'Oswald', sans-serif;
        color: #FFFFFF;
        font-size: 1.5rem;
        line-height: 50px;
        -webkit-transition: all 0.1s ease-in 0s;
        -moz-transition: all 0.1s ease-in 0s;
        -o-transition: all 0.1s ease-in 0s;
        transition: all 0.1s ease-in 0s;
        text-decoration: none !important;
        display: block;
    }

        .category-item-button a:hover {
            background: #3b3b3b;
        }

.first .category-item-button {
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
    top: -50px;
}

.first .category-item-wrapper:hover .category-item-button {
    top: 20%;
}

.box {
    display: inline-block;
    max-width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    /*-webkit-box-shadow: 0 1px 3px 1px #EBEBEB;
    box-shadow: 0 1px 3px 1px #EBEBEB;*/
    background-color: #024973;
    padding: 10px;
    /*color:#ffffff!important;*/
    height: 150px;
    margin-bottom: 10px !important;
}

.report_box {
    display: inline-block;
    max-width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 3px 1px #EBEBEB;
    box-shadow: 0 1px 3px 1px #EBEBEB;
    background-color: #e6eaed;
    padding: 10px;
    /*color:#ffffff!important;*/
    margin-bottom: 10px !important;
}

.box h3 {
    color: #ffffff !important;
}

.box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    margin: 0px;
    color: white;
}

.box h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.box span {
    top: -30px;
}

#course ul.split {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#course {
    background: url(../../images/blue-pattern.jpg) 0 0 repeat;
}

    #course .heading h1 {
        color: #fff;
    }

    #course p, #course ul li {
        font-size: 16px;
        color: #ffffff;
    }

    #course ul li {
        line-height: 3.0rem;
        margin-left: 1.5em;
    }

.custom-nav-tabs > li > a {
    background: #112a46;
    font-weight: normal !important;
    font-size: 15px;
}
/*h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px!important;
    line-height: normal;
    font-weight: 700;
    margin: 0px 0 10px!important;
}*/
.report-title {
    font-size: 16px !important;
    font-weight: bold;
    padding: 10px;
    color: #0e457b !important;
    line-height: 2.5rem !important;
}

    .report-title a {
        text-decoration: none;
    }

.link_btn a {
    padding: 5px;
    border: 1px solid #123456;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}

.ib {
    background-color: #f5d76e;
    color: #17385b !important;
    ;
}

.rs {
    background-color: #17385b;
    color: #ffffff !important;
}

.link_btn a.ib:hover {
    color: #000000;
}

.link_btn a.rs:hover {
    color: #ffffff;
}

.title_bg1 {
    background: rgb(18,52,86);
    background: linear-gradient(0deg, rgba(18,52,86,1) 0%, rgba(255,255,255,1) 100%);
}

.border {
    border: 1px solid #dee2e6 !important;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1.45rem;
}

.box-container {
    margin: 8px;
    /*margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;*/
    background: white;
    box-shadow: 2.5px 2.5px 20px 5px rgba(176, 176, 176, 0.3);
    padding: 10px;
}

    .box-container img {
        width: 100% !important;
    }

.btn_ib {
    color: #494949 !important;
    /*text-transform: uppercase;*/
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

    .btn_ib:hover {
        color: #3a2e2e !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        border-radius: 30px;
    }

.btn_rs {
    color: #494949 !important;
    /*text-transform: uppercase;*/
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

    .btn_rs:hover {
        color: #ffffff !important;
        background: #286090;
        border-color: #286090 !important;
        transition: all 0.4s ease 0s;
        border-radius: 30px;
    }

.play-btn:hover {
    border-color: #010e1c !important;
}

.play-btn:hover {
    color: #010e1c !important;
}

.rpt-bg {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #d9d9da;
    background-image: -webkit-linear-gradient(30deg, #ededef 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ededef 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

    .rpt-bg:hover {
        background-position: 0%;
    }

.rpt-desc {
    margin: 10px;
    padding-bottom: 0px !important;
}

.how-it-work .list li, .our-company .list li {
    padding: 0;
    margin: 0;
    list-style-position: initial !important;
}

.how-it-work li, .our-company li {
    list-style-type: none !important;
}

ul.footerLinks li a {
    font-size: 14px !important;
    line-height: 24px;
    font-weight: 400;
    color: #dcdce5;
    text-decoration: none;
}

.bottomAbout {
    padding-left: 40px;
}

.section_gap {
    padding: 45px 0 50px !important;
}

.para-padding {
    padding: 5px 20px 5px 20px;
    text-align: justify !important;
}

.news-list {
    margin: 20px;
}

ul.pricing-boxes.three li {
    width: 24% !important;
    /* width: 313px; */
    margin: 5px;
}

.plan-name {
    background: #123457 !important;
    padding: 15px 0 10px 0;
    min-height: 88px;
    position: relative;
}

    .plan-name h2 {
        font-family: "Roboto",sans-serif;
        color: #FFF;
        font-size: 22px !important;
        line-height: 2.8rem;
        font-weight: normal !important;
        letter-spacing: 1px !important;
    }

.pricing-boxes:hover .color {
    background-color: #123457;
}

.membership_listing span {
    color: #000 !important;
    -webkit-border-radius: 2px;
    border-radius: 9px !important;
}

#Ourexpertise h3 {
    font-size: 22px;
}

p {
    padding-bottom: 15px !important;
}

ul.pricing-boxes li.best-plan .plan-name:after {
    border-color: rgba(255, 228, 1, 0);
    border-top-color: #123457 !important;
}

ul.pricing-boxes li.best-plan .btn-primary {
    background-color: #2f4e71 !important;
}

.btn-primary {
    border-bottom: 3px solid #e5cd00 !important;
}

/* css for search bar ---- */
.search-bar {
    padding: 1em;
    max-width: 1200px;
    margin: auto;
    position: relative;
    margin-top: 125px;
    margin-bottom: 125px;
}

    .search-bar .search-box {
        font-size: 18px;
        width: 100%;
        appearance: none;
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

.search-box {
    font-size: 18px;
    padding: 1em 0.75em;
    width: 100%;
    appearance: none;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background: #fff url("data:image/svg+xml;utf8,<svg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><title>Shape</title><path d='M47.008 41.814L32.016 27.13c1.754-2.77 2.68-5.97 2.68-9.263 0-9.565-7.783-17.35-17.348-17.35C7.783.518 0 8.302 0 17.868c0 9.565 7.783 17.346 17.348 17.346 3.654 0 7.15-1.133 10.127-3.28l14.908 14.604c.62.61 1.44.945 2.313.945.896 0 1.736-.354 2.363-.994 1.273-1.302 1.25-3.398-.052-4.674zm-29.66-11.396c-6.92 0-12.55-5.63-12.55-12.55 0-6.92 5.63-12.55 12.55-12.55 6.92 0 12.55 5.63 12.55 12.55 0 3.258-1.243 6.346-3.5 8.695-2.39 2.486-5.605 3.855-9.05 3.855z' fill='%23A7A7A7' fill-rule='evenodd'/></svg>") no-repeat center right 5px/32px;
    border-radius: 4px;
}

.search-bar .form-group {
    margin: 0;
    padding: 20px;
    &:first-child;

{
    border-color: transparent;
}

}

.search-bar .form-control {
    padding: 0px 10px 0 20px;
    margin-top: 10px;
    color: #333;
    font-size: 28px;
    font-weight: 500;
    /*border: 3px solid #555;*/
    /*-webkit-box-shadow: none;
    box-shadow: none;*/
    min-height: 60px;
    height: auto;
    border-radius: 50px 0 0 50px !important;
}

    .search-bar .form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;
    }

.search-bar #searchbtn {
    border: 0;
    padding: 0px 10px;
    margin-top: 10px;
    color: #fff;
    background: #123456;
    font-size: 27px;
    font-weight: 500;
    /* border: 3px solid #555;*/
    border-left: none;
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    min-height: 60px;
    height: auto;
    border-radius: 0 50px 50px 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-section {
    background-image: url(../../images/image01.jpg) !important;
    height: 300px !important;
    background-position: right -90px bottom 400px !important;
}

    .search-section .patternOverlay {
        background: #1c416a;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: 0.9;
    }

    .search-section h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 25px !important;
        line-height: 24px;
        font-weight: 600;
        color: #f5d76e;
        margin: 0px 0 10px !important;
    }
/* end css for search bar ---- */
.heading h1.reporttitle {
    display: block;
    padding: 10px;
    border-left: 8px solid;
    color: #23527c;
    font-size: 18px !important;
    margin-bottom: 4px !important;
    line-height: 30px;
    text-align: justify;
    /*font-weight: bolder;*/
    text-transform: capitalize !important;
}

.title-summary {
    font-family: Georgia, serif;
    font-size: 17px !important;
    font-style: italic;
    /*margin: 0.25em 0;
    padding: 0.25em 40px;*/
    line-height: 25px;
    position: relative;
    color: #383838;
    text-align: center;
}

/* ---- search icon on navbar --*/
.search_div {
    padding: 5px 0;
    width: 115px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    padding:;
}

    .search_div input {
        position: absolute;
        width: 0px;
        float: left;
        margin-left: 75px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius: 1px;
        top: 11px;
    }

        .search_div:hover input, .search_div input:focus {
            width: 200px;
            margin-left: -100px;
        }

    .search_div .btn {
        height: 30px;
        position: absolute;
        right: 0;
        top: 0px;
        border-radius: 2px;
        border-color: #00CDF8;
        background-color: #00CDF8;
        margin: 11px;
    }

        .search_div .btn:hover {
            border-radius: 2px;
            border-color: #93CB00;
            background-color: #93CB00;
        }
/* ---- end search icon on navbar --*/
.menu {
    margin-top: 0px !important;
    width: 100% !important;
}

.report-page {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5px !important;
}

    .report-page .banner {
        overflow: hidden;
        margin: 0 auto !important;
        /*background: #CACACA;*/
    }

.report-title-image {
    background-image: url(../../images/images06.jpg) !important;
}

#report-title {
    margin-top: 25px;
    /*background-image:url(../../images/image02.jpg)!important;*/
}

    #report-title::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        opacity: .4;
    }
/*.reporttitle {
    color: #123456!important;
    font-size: 20px !important;
    margin-bottom: 20px !important;
    line-height: 29px;
    text-align: justify;
    font-weight: bolder;
}*/
.badge {
    padding: 6px 10px !important;
    font-size: 12px !important;
    font-weight: normal !important;
    background-color: #024973 !important;
    border-radius: 0px !important;
}

/* ---- tab css ---- */

.fancyTab {
    text-align: center;
    padding: 15px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    top: 15px;
    transition: top .2s;
}

    .fancyTab.active {
        top: 0;
        transition: top .2s;
    }

.whiteBlock {
    display: none;
}

.fancyTab.active .whiteBlock {
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    width: 99%;
    position: absolute;
    z-index: 1;
}

.fancyTab a {
    font-family: 'Source Sans Pro';
    font-size: 1.65em;
    font-weight: 300;
    transition: .2s;
    color: #333;
}

/*.fancyTab .hidden-xs {
  white-space:nowrap;
}*/

.fancyTabs {
    border-bottom: 2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top: -15px;
    padding-bottom: 0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab .fa {
    font-size: 40px;
    width: 100%;
    padding: 5px 0 5px;
    color: #666;
}

.fancyTab.active .fa {
    color: #cfb87c;
}

.fancyTab a:focus {
    outline: none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position: relative;
    background-color: #fff;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
    border-width: 0;
}

.nav-tabs > li.fancyTab:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
    border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color: transparent;
    border-bottom: 0;
}

.nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
    margin-right: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
    margin-right: 0;
    margin-bottom: 0;
}

    .nav-tabs > li.fancyTab:last-child a {
        border-right: 1px solid transparent;
    }

    .nav-tabs > li.fancyTab.active:last-child {
        border-right: 0px solid #ddd;
        box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
    }

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow: none;
    top: 0;
}


.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom: 30px;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

@media (max-width: 1200px) {

    .fancyTab .fa {
        font-size: 36px;
    }

    .fancyTab .hidden-xs {
        font-size: 22px;
    }
}


@media (max-width: 992px) {

    .fancyTab .fa {
        font-size: 33px;
    }

    .fancyTab .hidden-xs {
        font-size: 18px;
        font-weight: normal;
    }
}


@media (max-width: 768px) {

    .fancyTab > a {
        font-size: 18px;
    }

    .nav > li.fancyTab > a {
        padding: 15px 0;
        margin-bottom: inherit;
    }

    .fancyTab .fa {
        font-size: 30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right: 1px solid transparent;
        padding-bottom: 0;
    }

    .fancyTab.active .fa {
        color: #333;
    }
}
/* --- end Tab Css ---- */

/* --- tab 2 css --- */
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs {
    /*background: #dde2e0;*/
    background: #ffffff;
    padding: 5px 0;
    text-align: left;
}

    .tab .nav-tabs li {
        margin-bottom: 0;
        margin-right: 0;
        float: none;
        /*display: inline-block;*/
        display: inline-table;
    }

        .tab .nav-tabs li a {
            font-size: 14px;
            color: #024973;
            background: #fafbfb;
            margin-right: 0px;
            padding: 12px 40px;
            border-radius: 0;
            /*text-transform: uppercase;*/
            font-weight: bold;
            margin-left: 8px;
        }

            .tab .nav-tabs li a:hover {
                color: #024973;
                border-color: transparent;
                background: #e8e8e8;
            }

            .tab .nav-tabs li a i {
                font-size: 30px;
                margin-right: 10px;
            }

        .tab .nav-tabs li.active a,
        .tab .nav-tabs li.active a:hover {
            /*background: #00779c;*/
            background: #024973;
            color: #fff;
            border: 1px solid transparent;
        }

.tab .tab-content {
    font-size: 14px;
    color: #024973;
    line-height: 30px;
    background: #e7ecea;
    padding: 20px 25px;
}

@media only screen and (max-width: 990px) {
    .tab .nav-tabs li a {
        padding: 15px 10px;
    }

    .tab .tab-content {
        padding: 20px 25px;
    }
}

@media only screen and (max-width: 767px) {
    .tab .nav-tabs li a {
        padding: 15px 5px;
    }
}

@media only screen and (max-width: 480px) {
    /*.tab .nav-tabs li{ width:100%; }*/
    .tab .nav-tabs li {
        margin: 5px;
        width: 156px !important;
    }
}

/* ----- end tab 2 css ----- */

/* --- buy now css ---- */
.lic_header {
    width: 100%;
    max-width: 560px;
    border-bottom: 1px solid #7A8590;
    margin-bottom: 15px;
}

.licheader__title {
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    color: #7A8590;
}

.subscription-container1 {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    /*max-width: 560px;*/
}

.subscription__title,
.subscription__main-feature,
.subscription__price {
    /*text-transform: uppercase;*/
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #123456;
}

.subscription__main-feature {
    font-size: 13px;
    width: 150px;
}

.subscription__price {
    text-transform: lowercase;
    font-size: 20px;
    text-align: center;
    width: 130px;
}

.subscription__button {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 5px;
    border: solid 2px #e8e8e8;
    background: white;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.4);
    transition: transform .5s;
    cursor: pointer;
}

    .subscription__button:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        /*border-radius: 50%;*/
        margin: 10px;
        border: solid 3px #CDD1D5;
        transform: translateY(-5%);
    }

input[type="radio"] {
    display: none;
}

    input[type="radio"]:checked + label:before {
        background: #009688;
        font-size: 50px;
        /*content: '\f00c';*/
    }

    input[type="radio"]:checked + label {
        border: solid 2px #ea8b08;
        background: #FFC107;
        transform: translateY(-10%);
        transition: transform .5s;
        color: #000000;
        margin-top: 10px;
    }

        input[type="radio"]:checked + label .subscription__title,
        input[type="radio"]:checked + label .subscription__main-feature,
        input[type="radio"]:checked + label .subscription__price {
            color: #123456;
        }

button.sidebar-button {
    border: 2px solid #fff;
    border-radius: 6px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    margin: 1em auto;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    color: #000000;
    background: #FFC107;
}

button:hover {
    background: #2c8a05;
    color: #FFC107;
}

.white-box {
    background: #e7ecea;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem;
    padding: 2.0rem;
    -webkit-box-shadow: 0 1px 1px 1px #EBEBEB;
    box-shadow: 0 1px 3px 1px #EBEBEB;
}

    .white-box img {
        max-width: 100%;
        padding: 0;
        margin: 0 !important;
    }

@keyframes pulse-animation {
    to {
        transform: scale(1.2);
    }
}

/* --- end buy now css ----- */
.isStuck {
    background: #024973 !important;
    /*background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,62,99,1) 45%);
	*/
}

    .isStuck .navbar.navbar-inverse.navbar-static-top a {
        color: #ffffff !important;
    }

.link-btn a {
    font-size: 14px;
    /*font-weight: 700;*/
    text-align: center;
    /*color: #fff;*/
    /*padding: 1.5rem 2rem;*/
    padding: 0.9rem .8rem;
    margin-bottom: 0.7rem;
    border-radius: 25px;
    text-decoration: none;
}

    .link-btn a:first-child {
        background: #9a1750;
    }

        .link-btn a:first-child:hover {
            background: #932a73;
        }

    .link-btn a:nth-child(2) {
        background: #376e6f;
    }

        .link-btn a:nth-child(2):hover {
            background: #254e58;
        }

    .link-btn a:nth-child(3) {
        background: #46344e;
    }

        .link-btn a:nth-child(3):hover {
            background: #3c2a44;
        }

    .link-btn a:nth-child(4) {
        background: #123c69;
    }

        .link-btn a:nth-child(4):hover {
            background: #1a3f53;
        }

    .link-btn a:last-child {
        background: #123457;
    }

        .link-btn a:last-child:hover {
            background: #0f3e6f;
        }

#element-with-background-image, #report-title {
    position: relative;
    /*background-image: url(../../images/image01.jpg)!important;*/
    background-color: #e7ecea;
}

#color-overlay {
    background: #1c416a;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.divcenter {
    display: inline-block;
    width: 100%;
    margin: 6px auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

.footer {
    padding: 10px 0 !important;
}

    .footer p {
        padding-bottom: 0px !important;
    }

.reportlist_box, .custom_box {
    box-shadow: 0.5em 0 0 #fff, -0.5em 0 0 #fff;
    background-color: #fff;
    display: inline-block;
    max-width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 10px;
    /*color:#ffffff!important;*/
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

    .reportlist_box .topbadge {
        z-index: 999;
        position: absolute;
        margin-top: -21px;
        margin-left: 20px;
    }

        .reportlist_box .topbadge .badge {
            border-radius: 20px !important;
        }

    .reportlist_box .bottombadge {
        margin-right: 10px;
    }

    .reportlist_box h2 {
        font-size: 24px !important;
        color: #273342;
        line-height: 25px !important;
        font-weight: 700;
        text-transform: none;
        letter-spacing: -1px;
        margin: 0px 0 10px !important;
    }

.lt-border {
    border-left: 2px solid #c5c5c5 !important;
}

.zero-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.reportlist_box h2.reporttitle {
    display: block;
    padding: 10px;
    border-left: 8px solid;
    color: #23527c;
    font-size: 15px !important;
    margin-bottom: 4px !important;
    line-height: 30px;
    text-align: justify;
    /*font-weight: bolder;*/
    text-transform: capitalize !important;
}

.reportlist_box h2 a {
    color: #024973;
}

.reportlist_box .box, {
    display: inline-block;
    max-width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 3px 1px #EBEBEB;
    box-shadow: 0 1px 3px 1px #EBEBEB;
    background-color: #024973;
    padding: 10px;
    /* color: #ffffff!important; */
    height: 150px;
    margin-bottom: 10px !important;
}

.reportlist_box .membership_listing {
    padding: 0 0 0 0px;
    position: relative;
}

.reportlist_box .box span {
    top: -55px;
}

.reportlist_box .box h3 {
    color: #ffffff !important;
    margin-top: 20px !important;
}

.reportlist_box span.ltbr {
    color: #024973;
}

.reportlist_box p, li {
    font-size: 14px !important;
    line-height: 22px !important;
}

.reportlist_box .ltbr {
    border-left: 10px solid #c5c5c5 !important;
    padding-right: 10px !important;
}

    .reportlist_box .ltbr .space {
        padding: 10px !important;
    }

.hover_listing li {
    list-style-type: none;
}
/*----- contact form ----*/
.custom_box {
    width: 100%;
}

    .custom_box h3 {
        margin: 0px 0 10px;
    }

        .custom_box h3::after {
            border-bottom: 3px solid #123456;
            width: 10%;
        }

.contact {
    /*padding: 4%;
		/*height: 400px;*/
    margin-top: 15px !important;
}

    .contact .col-md-3 {
        background: #ff9b00;
        padding: 3%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

.contact-info {
    margin-top: 10%;
}

    .contact-info h2 {
        font-size: 24px;
    }

.contact-form .form-group {
    padding-bottom: 30px;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.contact .col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

    .contact-form button:focus {
        box-shadow: none;
    }
/* --- end contact form ---*/


/* ---- category css --- */
.category_box {
    /*box-shadow: 0.5em 0 0 #fff, -0.5em 0 0 #fff;*/
    background-color: #fff;
    display: inline-block;
    max-width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 20px;
    /*color:#ffffff!important;*/
    /*margin:0px 20px 25px 10px!important;*/
    /*width: 32.5%;
    height: 50%;*/
    width: 100%;
    margin-bottom: 10px !important;
    margin-right: 5px !important;
    height: 230px;
}

.category-wrapper {
    /*text-align: center;*/
}

.bottomline {
    border-bottom: 2px;
    border-bottom-color: #448b8a;
    border-bottom-style: solid;
}

.category-wrapper ul li a {
    color: #123456;
}

.category-wrapper ul li:hover {
    color: #D9CC1E;
    /*background-color: rgba(82, 2, 69, 1); 
    background-color: #1eaeae;*/
}

.category-wrapper ul li {
    position: relative;
    /*display: flex;
    display: inline-block;*/
    justify-content: center;
    align-items: center;
    /*width: 45%;
    height: 50%;
    padding: 7px;
    /* background: #D9CC1E; */
    transition: all .3s ease-out;
    cursor: pointer;
    /*margin: 0px 25px 25px 0px;*/
    list-style-type: none;
}

    .category-wrapper ul li:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: 50%;
        transition: transform .3s ease-out;
        border-bottom: 1px solid #99042F;
        border-top: 1px solid #99042F;
    }

.fb_bg {
    /*background-image:url(../../images/category-icons/food_bg.jpg);
	background-size: cover;*/
    /*position: relative;
    background: #5C97FF;*/
}

    .fb_bg::before {
        ccontent: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url(../../images/category-icons/food_bg.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

/* ---- end category css --- */

/*Filter styles*/
.saturate {
    filter: saturate(3);
    -webkit-filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
    -webkit-filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
    -webkit-filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.opacity {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.gradient_bg {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,224,227,1) 25%, rgba(2,73,115,1) 47%);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #b33e3e !important;
}

.navbar-wrapper {
    /* margin-top: 0px; */
    /* height: 167px; */
    /* position: relative; */
    /* z-index: 15; */
    background: #fff !important;
    /* color: #123456!important; */
}

.navbar.navbar-inverse.navbar-static-top a {
    color: #123456 !important;
    padding: 31px 12px 20px 15px !important;
    line-height: 5px !important;
}

.grey_section {
    background-color: #e7ecea !important;
}

blockquote {
    padding: 2px 10px !important;
    margin: 0 0 10px !important;
    font-size: 12.5px !important;
    border-left: 5px solid #b8c1bd !important;
}

    blockquote a {
        color: #123456 !important;
        font-weight: bold;
    }

/* ---- slide form --- */
.slide-out {
    top: 85px !important;
    /*bottom:0px;*/
    position: fixed;
    right: -350px;
    transition: .5s ease-in-out;
}

.speak-to-analyst {
    position: fixed;
    right: 0px;
    top: 30%;
}

.slide-out form {
    top: 0px;
}

.slide-out {
    width: 300px !important;
    padding: 25px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0, .5);
    transition: 0.5s ease-in-out;
    z-index: 99999;
}

    .slide-out label {
        color: #ffffff;
    }

    .slide-out .captcha_img {
        width: 90px;
        height: auto;
        float: left;
        padding: 0px 10px 10px 0px;
    }

.sidebar-contact .open_btn {
    letter-spacing: 2px;
    background: #369;
    color: #fff;
    padding: 8px 3px;
    margin: 0 0 10px 0;
    line-height: 24px;
    z-index: 999;
    border-radius: 10px;
}

    .sidebar-contact .open_btn:hover {
        background: #123456;
    }

.close {
    font-size: 15px;
    top: 10px;
    right: 10px;
}

#rot {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    width: 100px;
}

.rotate {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    top: 4px;
    position: absolute;
}
/* ---- end slide form --- */
.tab {
    margin-top: -40px !important;
}

.divcenter {
    padding: 0px !important;
}

.breadcrumb {
    margin-bottom: 8px !important;
}

    .breadcrumb a {
        color: #23527c;
    }

.tab-content p, .tab-content li {
    font-size: 17px !important;
    line-height: 35px !important;
}

.tab-content li {
    list-style-type: none;
}

.white {
    background-color: #fff;
}
