<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <production>
    <workingkey>
      05554228BF9F6EEB19F3DBC00B91E883
    </workingkey>
    <merchantid>
      144093
    </merchantid>
    <accesscode>
      AVEN72EH44AW91NEWA
    </accesscode>
    <redirecturl>
      https://www.zionmarketresearch.com/ccavenueprocess
    </redirecturl>
    <cancelurl>
      https://www.zionmarketresearch.com/ccavenueprocess
    </cancelurl>
    <paymenturl>https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction</paymenturl>
    <currency>INR</currency>
  </production>
</configuration>