<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <production></production>
  <test>
    <key>
      UaSFeE
    </key>
    <salt>
      yJmYBJEf
    </salt>
    <url>
      https://secure.payu.in/_payment
    </url>
    <action>
    </action>
    <hashsequence>
      key|txnid|amount|productinfo|firstname|email|udf1|||||||||
    </hashsequence>
    <successurl>https://www.zionmarketresearch.com/hdfcprocess</successurl>
    <failurl>https://www.zionmarketresearch.com/hdfcprocess</failurl>
    <cancelurl>https://www.zionmarketresearch.com/hdfcprocess</cancelurl>
  </test>
</configuration>
