<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <production>
    <user>sales_api1.marketresearchstore.com</user>
    <password>NMGL6X7BMZHHF5ZV</password>
    <signature>AFcWxV21C7fd0v3bYYYRCpSSRl31AtnZZb.0W6k-g3GB.0CnlNVA8EYB</signature>
    <returnurl>http://localhost:16687/PayPalProcess</returnurl>
    <cancelurl>http://localhost:16687/PayPalProcess</cancelurl>
    <companyname>Zion Market Research</companyname>
  </production>
  <test>
    <user>jb-us-seller_api1.paypal.com</user>
    <password>WX4WTU3S8MY44S7F</password>
    <signature>AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy</signature>
    <returnurl>http://localhost:16687/PayPalProcess</returnurl>
    <cancelurl>http://localhost:16687/PayPalProcess</cancelurl>
    <companyname>Zion Market Research</companyname>
  </test>
</configuration>