<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <production>
    <sid>102397585</sid>
    <mode>2CO</mode>
    <url>https://www.2checkout.com/checkout/purchase</url>
    <purchasestep>payment-method</purchasestep>
    <returnurl>http://localhost:16687/twocheckoutprocess</returnurl>
    <secretword>tango</secretword>
  </production>
  <test>
    <sid>901323351</sid>
    <mode>2CO</mode>
    <url>https://sandbox.2checkout.com/checkout/purchase</url>
    <purchasestep>payment-method</purchasestep>
    <returnurl>http://localhost:16687/twocheckoutprocess</returnurl>
    <secretword>tango</secretword>
  </test>
</configuration>
